@model TCMB.DATA.ViewModels.RequestViewModel

  


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*tl girin:  @Html.TextBoxFor(m => m.Lira, new { @Value = "Enter Name", @class = "red" })
    <input id="Submit" type="submit" value="submit" />


    <div class="col-md-5">
        @Html.DropDownListFor(x => Model.KurKodu,
          new SelectList(Model.KurKodu, "Value", "Text"),
          htmlAttributes: new { @class = "form-control", id = "Kur", @required = true })
    </div>*@














    @section Scripts

    {
        @*<script type="text/javascript">
            $('#KurKodu').change(function () {
                var selectedKur = $("#KurKodu").val();
                if (selectedKur != null && selectedCountry != '') {
                    $.ajax({
                        type: "POST",
                        url: "/Customers/Create?handler=Regions",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        data: selectedCountry,
                        contentType: "json; charset=utf-8",
                        success: function (regions) {
                            if (regions != null && !jQuery.isEmptyObject(regions)) {
                                regionsSelect.append($('<option/>', {
                                    value: null,
                                    text: ""
                                }));
                                $.each(regions, function (index, region) {
                                    regionsSelect.append("<option value='" + region.value + "'>" + region.text + "</option>");
                                });
                            };
                        },
                        failure: function (response) {
                            alert(response);
                        }
                    });
                }
            });
        </script>*@

    }
</div>
